@charset "UTF-8";

html,body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  height:100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
   background-image: url("res/background.png");
  background-size:auto;
  background-repeat:repeat;
}
.nav{
	background-color: #18122B; 
  	box-shadow: 0 10px 10px rgba(100, 100, 200, 0.3); 
  	height:70px;
  	width:100vw;
  	display:flex;
  	align-items:center;  
  	justify-content:center;	
}

footer{
	background-color: #18122B; 
  	height:70px;
  	width:100vw;
  	flex-shrink: 0;
  	display:flex;
  	justify-content: center;
  	align-items:center;
  	color:white;
  	
}

h1{
	margin:auto;	
	color:#fff;
}

.container{
	width:100%;
	max-width:1080px;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height:calc(100vh-70px);
    flex-grow:1;
    background-color: white;
}

.inputarea{
	margin:auto;
	margin-top:20px;
	max-width:768px;
	width:100%;
	min-width:480px;
	display:flex;
	flex-direction:column;
	border: 1px solid #18122B;
  	border-radius: 5px;
  	padding:20px;
}

label{
	display: inline-block;
  	width: 100px; 
  	text-align: left; 
  	padding-right: 10px; 
  	width:100%;	
}

input {
  padding: 5px;
  width:300px;
}

label input {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #f2f2f2;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


.clickables {
  display: flex;
  justify-content: center;
}

.clickables button, .clicks{
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #58527B, #18122B);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.clickables button:hover, .clicks:hover{
  background: linear-gradient(to bottom, #18122B, #58527B);
}

.clicks:active, .clickables button:active {
  transform: translateY(3px);
}

.clicks{
	margin-top: 20px;
}

.divs{
	display:none;
	transition:1s;
	animation: fadeIn 1s;
}
.view{
	display: block;
}

.main-pic{
	width:100%;
	max-width:1080px;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 580px) {
  .clickables {
    flex-wrap: wrap;
  }
  
  .clickables button, .clicks {
    padding: 8px 16px;
    margin: 3px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: none;
  }
  
  .clickables button:hover, .clicks:hover {
    box-shadow: none;
  }
  
  .inputarea{
	margin:auto;
	margin-top:20px;
	max-width:580px;
	width:90%;
	min-width:0px;
	display:flex;
	flex-direction:column;
	border: 1px solid #18122B;
  	border-radius: 5px;
  	padding:20px;
}
}

